<launch>
  <arg name="model" default="burger"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

<group ns="burger_1">
      <include file="$(find turtlebot3_gazebo)/launch/spawn_turtle3.launch">
          <arg name="robot_num" value="1"/>
          <arg name="y_pos" value="1"/>
         <arg name="x_pos" value="1"/> 
         <arg name="z_pos" value="0.1"/>
      </include>


       <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>

</group>

   

</launch>
